config.h
config.log
config.status
*.lo
*.la
*.gmo
*.o
tests/test-completion
tests/test-languagemanager
tests/test-printcompositor
tests/test-widget
gtksourceview/.deps/
gtksourceview/.libs/
gtksourceview/completion-providers/words/.deps/
gtksourceview/completion-providers/words/.libs/
po/stamp-it
stamp-h1
tests/.deps/
tests/.libs/

libtool
gtksourceview-zip
